<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>TempMon Portal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1 class="title-text">TempMon Portal</h1>

        <div id="chartParentDiv" class="chartParentClass"  >
            <div id="chartControlDiv" class="outer" >
                <div class="inner">
                    <input type="button" id="5mChartButton" value="5 min" disabled />
                </div>
                <div class="inner">
                    <input type="button" id="30mChartButton" value="30 min" disabled />
                </div>
                <div class="inner">
                    <input type="button" id="6hChartButton" value="6 hour" disabled />
                </div>
                <div class="inner">
                    <input type="button" id="1dChartButton" value="1 Day" disabled />
                </div>
                <div class="inner">
                    <input type="button" id="allChartButton" value="All data" disabled />
                </div>
            </div>
            <div id="charDiv" >
                <canvas id="tempChart"></canvas>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/chartjs-plugin-downsample.js') }}" ></script>
    <script type="text/javascript" charset="utf-8">
        $( document ).ready( function() {
            console.log( "Starting up" );

            var sysmonNs = "/system_monitor";
            var sysmonSocket = io( sysmonNs );

            function requestMonitorData( buttonId ){
                console.log( "Request monitor data" );
                if( buttonId > 4 || buttonId < 0 ){
                    return
                }
                var m5b = document.getElementById( '5mChartButton' );   // 0
                var m30b = document.getElementById( '30mChartButton' ); // 1
                var h6b = document.getElementById( '6hChartButton' );   // 2
                var d1b = document.getElementById( '1dChartButton' );   // 3
                var allb = document.getElementById( 'allChartButton' ); // 4
                
                var buttonArray = [ m5b, m30b, h6b, d1b, allb ];
                var timeDiffSec = [ 5 * 60, 30 * 60, 60 * 60 * 6, 60 * 60 * 24, 0 ];


                sysmonSocket.emit( "sensor_request", { timeDiff : timeDiffSec[ buttonId ] } );
                for( i = 0; i < buttonArray.length; i++ ){
                    if( i == buttonId ){
                        continue;
                    }
                    buttonArray[ i ].disabled = false;
                }
                buttonArray[ buttonId ].disabled = true;
            }

            sysmonSocket.on( "sensor_data", function( sysData ){
                console.log( "Received monitor data" );
                console.log( sysData );
                var temps = sysData.temperatures;
                var hums = sysData.humidities;
                var timeStamps = sysData.timestamps;
                var numPoints = sysData.timestamps.length;

                for( i=0; i < numPoints; i++ ){
                    var epochVal = timeStamps[ i ];
                    timeStamps[ i ] = new Date( epochVal * 1000 );
                }
                var tempData = {
                    labels: timeStamps,
                    datasets: [{
                        label: 'Temperature',
                        borderColor: 'rgb(255, 149, 0)',
                        backgroundColor: 'rgb(255, 149, 0)',
                        fill: false,
                        data: temps,
                        pointRadius: 0,
                    }, {
                        label: 'Humidity',
                        borderColor: 'rgb(59, 146, 245)',
                        backgroundColor: 'rgb(59, 146, 245)',
                        fill: false,
                        data: hums,
                        pointRadius: 0,
                    }]
                };
                
                cpuTempChart.data = tempData;
                
                cpuTempChart.update()
                cpuTempChart.update()
            });

            // Set up charts
            aspectRatio = 4;
            threshold = 50;

            var tempCtx = document.getElementById( 'tempChart' ).getContext( '2d' );
            var cpuTempChart = new Chart(tempCtx, {
                type: 'line',
                data: { },
                datasets: [ ],
                
                options: {
                    title: {
                        display: true,
                        text: 'Sensor Data'
                    },
                    responsiveAnimationDuration: 0, // animation duration after a resize
                    responsive: true,
                    aspectRatio: aspectRatio,
                    hoverMode: 'index',
                    stacked: false,
                    downsample: {
                        enabled: true,
                        threshold: threshold,
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: "minute",
                                //stepSize: 100,
                            },
                            ticks: {
                                autoSkip: true,
                            },
                            scaleLabel: {
							    display: true,
                                labelString: 'Date',
						    }
                        }],
                            
                        yAxes: [{
                            type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                            display: true,
                            position: 'left',
                            id: 'tempAxis',
                            ticks: {
                                suggestedMin: 10,
                                suggestedMax: 70,
                            },
                        }],
                    }
                }
            });

            $( '#5mChartButton' ).click( function(){ requestMonitorData( 0 ) } );
            $( '#30mChartButton' ).click( function(){ requestMonitorData( 1 ) } );
            $( '#6hChartButton' ).click( function(){ requestMonitorData( 2 ) } );
            $( '#1dChartButton' ).click( function(){ requestMonitorData( 3 ) } );
            $( '#allChartButton' ).click( function(){ requestMonitorData( 4 ) } );
            requestMonitorData( 0 );
        });



        
    </script>
</html>
