[Unit]
Description=Gunicorn instance to serve the TempMon Portal
After=network.target

[Service]
WorkingDirectory=/opt/TempMonPortal/webserver
Environment="PATH=/opt/TempMonPortal/venv/bin"
ExecStart=/opt/TempMonPortal/venv2/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 sensorPortal:app

[Install]
WantedBy=multi-user.target